.idea
.vscode
[A[A[B
[D[D[A[A[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[Ce
[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[A[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[D 
[D
[A
[D[D[D
[D[D[A[A[A[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C.txt

